@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

/* basic components */
.App {
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #c3e2ff;
  /* backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228,237 , 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18); */
  z-index: 999;
}

.navigators {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigators button, .dropdown-select {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight:800;
  color: #292929;
  border: 1px solid white;
  border-radius: 4px;
  font-family: 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
}

.navigators button:hover, .dropdown-select:hover {
  color: #000000;
}

.dropdown-select {
  background-color: none;
  margin: 0 10px;
  padding: 10px 5px !important;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid white;
}

.logo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin-left: 10px;
}

.logo-div img {
  height: 60px;
  width: auto;
}

.right-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 123px;
}

.right-panel-icons {
  background: #3264c3;
  font-size: 28px;
  padding: 8px;
  border-radius: 10px;
  color: white;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.452);
}

.social-media {
  z-index: 998;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: right 1.5s;
  display: flex;
  gap: 5px;
  flex-direction: column;
  background: #00000098;
  padding: 10px 5px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  backdrop-filter: blur(5px);
}

.social-media img {
  height: 24px;
  border-radius: 8px;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
}

.banner-div {
  width: 100%;
  background: #9fcdf1;
  height: 500px;
  margin-top: 60px;
  position: relative;
  border-top: 1px solid white;
}
/* home */
.home-components{
  background: #f1f7fd;
  border-top: 2px solid white;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4{
    font-size: 18px;
  }
}

/* project-main */
.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 5px; /* Adjust the gap as needed */
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.project-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: .75rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 292px; /* Adjust this width as needed */
  height: 290px ;
  /* height: 300px; */
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
  height:10rem;
  object-fit: cover;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  height: 90px;
}

.project-details h5 {
  margin: 0 0 8px;
  font-size: 18px;
}

.project-details p {
  margin: 4px 0;
  color: #555;
}
.inner-div{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: flex-start;
  h5{
    font-size: 15px;
  }
  p{
    font-size: .875rem;
    line-height: 1.25rem;
  }
  .possession{
    font-weight: 600;
    color: rgb(82, 82, 82) !important;
    font-size: 13px;
  
  }
}
.city{
  font-weight: 800;
  color: rgba(48, 91, 170, 0.733) !important;
  font-size: 14px;
}

/* upcoming  and trending css*/
.upcoming-section, .trending-section , .bt{
  position: relative;
  padding: 20px;
  background: #f1f7fd;
  
  h4{
    font-size: 24px;
    justify-content: center;
    margin: 10px 0px 5px 0px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
}
/* icon for sections  */
.section-icon{
    height: 45px;
}

/* residential */
.residential-projects , .commercial-projects{
  position: relative;
  padding: 20px;
  background: #f1f7fd;
  h4{
    font-size: 24px;
    margin: 10px 40px 5px 60px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
   
  }
}


.bt{
  border-top: 1px solid white;
  h4{
    font-size: 24px;
    margin: 10px 40px 5px 60px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
   
  }
}

/* contact us  */

footer {
  background: #143063;
  border-top: #efefef solid 1px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  font-size: 13px;
  height: 450px;
  color: white;
}
footer:after {
  content: '';
  background: url(./Images/SideHustle/pattern-white.png) repeat left top;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
  z-index: -1;
}
footer .overviewSection {
  padding: 20px 20px;
  display: flex;
  border-top: #232323 solid 1px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
footer .overviewSection .col.col1 {
  width: 35%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .heading {
  margin-bottom: 10px;
  display: block;
  font-size: 24px;
  position: absolute;
  top: 0;
}
footer .overviewSection .about {
  display: block;
}
footer .overviewSection .about p {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

footer .overviewSection .col.col3  {
  /* width: 30%; */
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col{
  width: 30vw;
}
.col2{
/* width: 30%; */
backdrop-filter: blur(1px) ;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.form-container {
    padding: 25px !important;
    border-radius: 5px;
    /* position: relative; */
    /* width: 90%;
    max-width: 400px; */
    display: flex;
    
    justify-content: center;
    align-items: center;

}
#main-form{
  width: 25vw;
}

.form-container input , 
.form-container select {
  width: 25vw;
  padding: 10px 0;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container h4 {
  margin-top: 0;
  text-align: center;
  color: blue;
}
.form-container button {
  width: 25vw !important;
  padding: 10px 0;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* hero */

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.hero-wrapper {
  font-family: 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
  background: #1e2d4d;
}


.hero-container {
  justify-content: space-around;
  align-items: flex-end; 
}


/* left side */
.hero-left {
  gap: 3rem;
}
.hero-title {
  position: relative;
  z-index: 1;
  font-family: 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
}
.hero-title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}
.orange-circle {
  height: 4rem;
  width: 4rem;
  background: orange;
  border-radius: 999px;
  position: absolute;
  left: 28%;
  top: -10%;
  z-index: -1;
}
.search-bar {
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(120, 120, 120, 0.374);
  padding: 0.5rem 1rem;
  width: 100%;
  justify-content: space-between;
}
.search-bar > input {
  border: none;
  outline: none;
}
.stats{
    width: 100%;
    justify-content: space-between;
}
.stat>:nth-child(1)
{
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: orange;
}
.button {
  font-weight: 500;
  padding: .6rem 1.4rem;
  color: #fff;
  background: linear-gradient(to right , #5093e1 , #3264c3);
  border: none;
  border-radius: 4px;
  transition: all .3s ease-in;
}
.blue{
  color: #3264c3 !important;
}

/* right side */

.image-container {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(0, 0, 0, 0.301);
}
.image-container>img{
    width: 100%;
    height: 100%;
}

/* mobile screens */
@media  (max-width: 640px){
  .hero-container{
    margin-top: 2rem;
  }
  .hero-title>h1{
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .image-container{
    width: 95%;
    height: 25rem;
  }
  .stats{
    justify-content: center;
    gap: 1.5rem;
    font-weight: wrap;
  }
  .stat>:nth-child(1){
    font-size: 1.5rem;
  }
  .stat>:nth-child(2)
  {
    font-size: 0.8rem;
  }
}

@media (width < 951px) {
  /* smaller device css */
  .banner-div{
    background-image: url('./Images/banner\ image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    gap: 5px; /* Adjust the gap as needed */
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

}


