@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600&display=swap');

body, html {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4 !important;
}
/* body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
/* basic components */
.App {
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #c3e2ff;
  /* backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228,237 , 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18); */
  z-index: 999;
}

.navigators {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigators button, .dropdown-select {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight:800;
  color: #292929;
  border: 1px solid white;
  border-radius: 4px;
  font-family: 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
}

.navigators button:hover, .dropdown-select:hover {
  color: #000000;
}

.dropdown-select {
  background-color: none;
  margin: 0 10px;
  /* padding: 10px 5px !important; */
  border-radius: 4px;
  padding: 5px;
  border: 1px solid white;
}

.logo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin-left: 10px;
}

.logo-div img {
  height: 60px;
  width: auto;
}

.right-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 123px;
}

.right-panel-icons {
  background: #3264c3;
  font-size: 28px;
  padding: 8px;
  border-radius: 10px;
  color: white;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.452);
}
a{
 font-family: 'Roboto', sans-serif !important;
}
.social-media {
  z-index: 998;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: right 1.5s;
  display: flex;
  gap: 5px;
  flex-direction: column;
  background: #00000098;
  padding: 10px 5px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  backdrop-filter: blur(5px);
}

.social-media img {
  height: 24px;
  border-radius: 8px;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
}

.banner-div {
  width: 100%;
  background: #9fcdf1;
  height: 500px;
  margin-top: 60px;
  position: relative;
  border-top: 1px solid white;
}
/* home */
.home-components{
  background: #f1f7fd;
  border-top: 2px solid white;
  min-height: 40vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4{
    font-size: 18px;
    width: 100%;
    background: #c3e2ff;
  }
}

/* project-main */
.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 5px; /* Adjust the gap as needed */
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.project-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: .75rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 292px; /* Adjust this width as needed */
  height: 290px ;
  /* height: 300px; */
  margin: 8px;
  display: flex;
  flex-direction: column;
}
.project-card:hover{
  transform: scale(1.08);
  transition: 0.6s;
}
.project-image {
  width: 100%;
  height:10rem;
  object-fit: cover;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  height: 90px;
}

.project-details h5 {
  margin: 0 0 8px;
  font-size: 18px;
}

.project-details p {
  margin: 4px 0;
  color: #555;
}
.inner-div{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: flex-start;
  h5{
    font-size: 15px;
    color: black !important;
  }
  p{
    font-size: .875rem;
    line-height: 1.25rem;
  }
  .possession{
    font-weight: 600;
    color: rgb(82, 82, 82) !important;
    font-size: 13px;
    
  }
}
.city{
  font-weight: 800;
  color: rgba(48, 91, 170, 0.733) !important;
  font-size: 14px;
}

/* upcoming  and trending css*/
.upcoming-section, .trending-section , .bt{
  position: relative;
  padding: 20px;
  background: #f1f7fd;
  
  h4{
    font-size: 24px;
    justify-content: center;
    margin: 10px 0px 5px 0px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
}
/* icon for sections  */
.section-icon{
  height: 45px;
}

/* residential */
.residential-projects , .commercial-projects{
  position: relative;
  padding: 20px;
  background: #f1f7fd;
  h4{
    font-size: 24px;
    margin: 10px 40px 5px 60px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
  }
}


.bt{
  border-top: 1px solid white;
  h4{
    
    font-size: 24px;
    margin: 10px 40px 5px;
    font-weight: 600;
    
    /* border-radius: 10px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    display: flex;
    gap: 20px;
    background: #aed8ff;
    align-items: center;
    justify-content: center;
   
  }
}

/* contact us  */

footer {
  background: #143063;
  border-top: #efefef solid 1px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  font-size: 13px;
  height: 450px;
  color: white;
}
footer:after {
  content: '';
  background: url(./Images/SideHustle/pattern-white.png) repeat left top;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
  z-index: -1;
}
footer .overviewSection {
  padding: 20px 20px;
  display: flex;
  border-top: #232323 solid 1px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
footer .overviewSection .col.col1 {
  width: 35%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .heading {
  margin-bottom: 10px;
  display: block;
  font-size: 24px;
  position: absolute;
  top: 0;
}
footer .overviewSection .about {
  display: block;
}
footer .overviewSection .about p {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

footer .overviewSection .col.col3  {
  /* width: 30%; */
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col{
  width: 30vw;
}
.col2{
/* width: 30%; */
backdrop-filter: blur(1px) ;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.form-container {
    padding: 25px !important;
    border-radius: 5px;
    /* position: relative; */
    /* width: 90%;
    max-width: 400px; */
    display: flex;
    
    justify-content: center;
    align-items: center;

}
#main-form{
  width: 25vw;
}

.form-container input , 
.form-container select {
  width: 25vw;
  padding: 10px 0;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container h4 {
  margin-top: 0;
  text-align: center;
  color: blue;
}
.form-container button {
  width: 25vw !important;
  padding: 10px 0;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* hero */

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.hero-wrapper {
  font-family: 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
  background: linear-gradient(135deg, #1e2d4d, #1877ad);
}


.hero-container {
  justify-content: space-around;
  align-items: flex-end; 
}


/* left side */
.hero-left {
  gap: 3rem;
}
.hero-title {
  position: relative;
  z-index: 1;
  font-family: 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
}
.hero-title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
  
}
.orange-circle {
  height: 4rem;
  width: 4rem;
  background: orange;
  border-radius: 999px;
  position: absolute;
  left: 28%;
  top: -10%;
  z-index: -1;
}
.search-bar {
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(120, 120, 120, 0.374);
  padding: 0rem 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.search-bar > input {
  border: none;
  width: 32vw;
  background: none;
  height: 40px;
  outline: none;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}
.flexhero-des{
  display: flex;
  flex-direction: column;
  font-size: larger;
}  

.stats{
    width: 100%;
    justify-content: space-between;
}
.stat>:nth-child(1)
{
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: orange;
}
.button {
  font-weight: 500;
  padding: .6rem 1.4rem;
  color: #fff;
  background: linear-gradient(to right , #5093e1 , #3264c3);
  border: none;
  border-radius: 4px;
  transition: all .3s ease-in;
}
.blue{
  color: #3264c3 !important;
}

/* right side */

.image-container {
  width: 30rem;
  height: 29.8rem;
  overflow: hidden;
  border-radius: 10rem 0 10rem  0;
  border: 8px solid rgba(0, 0, 0, 0.301);
}
.image-container>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* midform */
.midform{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
  h4{
    font-size: 24px;
    width: 93.38%;
    height: 37px;
    margin: 10px 40px 5px;
    font-weight: 600;
    padding: 4px 0;
    /* border-radius: 10px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    display: flex;
    gap: 20px;
    background: #aed8ff;
    align-items: center;
    justify-content: center;
   
  }
}

.div-form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 400px;
  position: relative;
}
.img-container img{
  width: 390px;
}

.contact-midform{
  min-width: 400px;
  background: none;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 30px;
  input{
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #5f87ac;
  }
  button{
    width: 25vw !important;
    padding: 10px 0;
    background: #5282b5;
    color: white;
    border: none;
    border-radius: 10px;
    outline:none;
    border: 1px solid black;
    cursor: pointer;
  }
  button:hover{
    background: #2e4d76;
  }
}

/* location card css */
.location-container{
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 5px; /* Adjust the gap as needed */
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 400px;
}
.location-card {
  width: 20vw;
  height: 260px;
  background: #f8f8f8;
  border: 3px solid rgba(255, 255, 255, 0.603);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: border-color 0.3s;
}

.location-card:hover {
  border-color: #555; 
  
}

.location-card .location-image {
  width: 100%;
  height: 100%;
  display: block;
}

.location-card h5 {
  position: absolute;
  bottom: 0;
  margin: 0;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 24px;
  transition: bottom 2.3s; 
  font-family: 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
}

.location-card:hover h5 {
  bottom: 45%; 
  transition: bottom 2s;
  /* transform: rotateZ(-45deg); */
  transform: scale(1.1);
}
/* Location wise detailing for cards  */
.location-details {
  height: 100%;
  width: 100%;
}

.location-details h2 {
  text-align: center;
}

.property-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.property-card {
  width: 100%;
  max-width: 325px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  background: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}

.pd-fi {
  height: 12rem;
  width: 100%;
  object-fit: cover; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.property-link{
  color: black;
  h4,p{
    text-align: left;
    width: 100%;
    margin: 2px;
    margin-left: 10px;
  }
}
.ld-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #6898c9;
  h2{
    color: #cfffc1;
  }
}
.ld-btn,.ld-vd{
  background: #c3e2ff;
  border: 2px solid rgba(2, 120, 255, 0.637);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 2px 2px 9px #a3c1df; /* Neuromorphism effect */
}
.ld-btn:hover,.ld-vd:hover{
  transform: scale(1.1);
}
.ld-vd{
  position: absolute;
  bottom: 20px;
  background: #e3f0fd;
  border: 2px solid rgb(129 188 255 / 64%);
  color:rgb(91 88 88);
}


button{
  cursor: pointer;
}
/* login and signup */

.main-login {
  background: url('./Images/bg2.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.login-c {
  display: flex;
  width: 70vw;
  height: 60vh;
  background: rgba(255, 255, 255, 0.329);
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-radius: 0px 100px 0 100px;
  border:none;
  outline: 2px solid lightblue;
  h1{
    color: #eeeeee;
  }
  p{
    font-size: 1.1rem;
    color: #eeeeee;
    text-align: center;
  }
}

.login-c form {
  display: flex;
  flex-direction: column;
  /* height: 400px; */
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.login-c input, .login-c button {
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  margin-left: 2.5%;
  background: rgba(248, 247, 244, 0.92);
  
}
.login-c button{
  background: #91cdff;
  width: 300px;
  cursor: pointer;
}
.switch-overlay{
  width: 100px;
}
.signin-div,
.signup-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden-overflow {
  position: absolute;
  background: linear-gradient(-45deg, #91cdff, #3365cf);
  height: 60vh;
  width: 50%;
  top: 0;
  right: 0;
  transition: all 0.9s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 100px 0 0;
}

.hidden-overflow.active {
  transform: translateX(-100%);
  border-radius: 0 0 0 100px;
}

/* Styles for mobile */
.m-login-c {
  display: none;
}

@media (max-width: 951px) {
  .main-login {
    display: none;
  }

  .m-login-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #f6f5f7;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  
    background: linear-gradient(-45deg, #7452ee, #e73c7e, #23a6d5, #23d5ab,rgb(0, 102, 255) , white);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .toggle-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
  }

  .toggle-buttons button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
  }

  .toggle-buttons button.active {
    background: grey;
    color: #fff;
  }

  .mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    min-height: 270px;
  }

  .mobile-container form {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .mobile-container form.active {
    display: flex;
  }

  .mobile-container input,
  .mobile-container button {
    width: 90%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    margin: 10px 0;
  }

  .mobile-overlay {
    display: flex;
    justify-content: space-around;
    width: 50%;
    background: #1c418c;
    padding: 10px;
    position: absolute;
    top: 20%;
    border-radius: 15px;
  }

  .mobile-overlay button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background .1s linear;
    margin-left: 0;
  }
  .mobile-overlay button.active{
    background: #91cdff;
  }
    .property-list{
      grid-template-columns: repeat(1 ,2fr);
    }
}
.fp-image{
  height: 20px;
  position: absolute  ;
  right: 20px;
  bottom: 10px;
  cursor: pointer;
  background: none;
  padding: 5px;
  border-radius: 5px;
}
.fp-image:hover{
  background: #f1f7fd;
}


 /* For project details (pd) */
.pd-main{
  overflow: hidden;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pd-logo{
  background: white;
  height: 50px;
  border-radius: 10px;
}
.pd-nav{
  position: fixed;
  background: #00000067;
  backdrop-filter: blur(2px);
  height: 60px;
  top: 0;
  /* border-radius: 40px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  h2{
    color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
  }
  a{
    color: #eeeeee;
    background: #00000094;
    margin-right: 20px;
    padding: 10px 5px;
    border-radius: 40px;
    cursor: pointer;
  }
  a span:nth-child(2){
    display: none;
  }
  button{
    color: #eeeeee;
    background: #00000094;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
  }
  button span:nth-child(2){
    display: none;
  }
}
.pd-div{
  margin-top: 80px;
}
.pd-p1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pd-banner{
  width: 45%;
  border-radius: 20px;
  

}
.pd-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-top: 2px solid black; */
  padding: 10px;
  width: 45%;
  p{
    width: 70%;
  }
}
.pd-location{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-top: 20px;
  div{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
.pd-l-image{
  width: 45%;
  border-radius: 20px;
}

.pd-p3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 300px;
  border-top: 2px solid lightblue;
  border-bottom: 2px solid lightblue;
}

.pd-p3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
}

.pd-p3 div h2 {
  width: 100%;
  text-align: center;
}

.pd-p3 div ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  /* min-height: 100px; */
}

.pd-p3 div ul li {
  background: linear-gradient(-45deg , rgb(139, 203, 255) ,rgb(91, 148, 255) );
  padding: 10px 20px;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  color: #000000bb;
}
.pd-p3 div:nth-child(2) ul {
  grid-template-columns: repeat(1,1fr);
}

.pd-carousel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  .carousel-image{
    height: 500px;;
  }
  .carousel-button{
    height: 100px;
    }
  .carousel-button:nth-child(1){
    border-radius:10rem 0 0 10rem;
  }
  .carousel-button:nth-child(3){
    border-radius: 0 10rem 10rem 0;
  }
}
.pd-enquiry{
min-height: 430px;
background: rgb(1, 46, 41);
display: flex;
flex-direction: column;
align-items: center;
h1{
  color: white;
  margin: 20px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 500px;
}
input{
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: lightsalmon;
  font-size: inherit;
  line-height: 1.25;
}
input:-webkit-autofill {
  -webkit-text-fill-color: rgb(255, 255, 255);
  transition: background-color 5000s ease-in-out 0s;
} 
input::placeholder{
  color: white;
}
input,button{
  width: 500px;
  margin-bottom: 3rem !important;
}
button{
  width: 150px;
}
}


/* mobile screens */
@media  (max-width: 640px){
  .hero-container{
    margin-top: 2rem;
  }
  .hero-title>h1{
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
  }
  .image-container{
    width: 95%;
    height: 20.8rem;
    border-radius: 5rem 0 5rem 0;
  }
  .stats{
    justify-content: center;
    gap: 1.5rem;
    font-weight: wrap;
  }
  .stat>:nth-child(1){
    font-size: 1.5rem;
  }
  .stat>:nth-child(2)
  {
    font-size: 0.8rem;
  }
}

@media (width < 951px) {
  /* smaller device css */
  .banner-div{
    background-image: url('./Images/banner\ image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    gap: 5px; /* Adjust the gap as needed */
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  .search-bar{
    width: max-content;
    flex-direction: row !important;
  }
  .search-bar > input {
    width: 190px;
  }
  .upcoming-section, .trending-section , .bt{
    position: relative;
    
    padding: 20px 0 ;
    background: #f1f7fd;
    h4{
      margin: 10px 15px 5px 15px;
      font-size: 16px;
    }
  }  
  .section-icon{
    height: 35px;
  }

  .flexCenter {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .hero-right{
    margin-top: 0 !important;
  }
  .flexhero-des{
    display: flex;
    flex-direction: column;
    

    span:nth-child(2){
      display: none;
    }
  }  
.location-container{
  grid-template-columns: repeat(1 , 0fr);
}
.location-card{
  width: 300px;
}
.overviewSection{
  flex-direction: column;
}
footer .overviewSection .about p {
  padding:20px 20px 0;
}

.col1{
width: 100% !important;
}
.col{
  width: 100% !important;
}
footer{
  min-height: 450px;
  height: 100%;
}
#main-form{
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
}
.form-container{
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  input,select{
    width: 80% !important;
  }
}
.contact-midform{
  min-width: 300px;
}
  .div-form{
    flex-direction: column;
    align-items: center ;
  }
  .img-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
  }
  .img-container img{
    width: 70%;
    border-radius: 10px;
  }

/* pd  */
.pd-nav{
  z-index: 999;
}
.pd-nav button{
  padding: 0;
}
.pd-nav button span:nth-child(1){
  display: none;
}
.pd-nav button span:nth-child(2){
  display: block;
  font-size: 25px;
  border: none;
}
.pd-nav a span:nth-child(1){
  display: none;
}
.pd-nav a span:nth-child(2){
  display: block;
  font-size: 25px;
  border: none;
}
.pd-nav a{
  background: none;
}
.pd-nav button{
  background: none;
  }
.phone{
  transform: rotate(-90deg);
}
.pd-p1{
  flex-direction: column;
  .pd-banner{
    width: 85%;
  }
}
.pd-location{
  flex-direction: column-reverse;
  div{
    width: 100%;
    ul{
      margin-left: -10px;
    }
  }
  p{
    font-size: 14px;
  }
  li{
    font-size: 14px;
  }
  .pd-l-image{
    width: 85%;
  }
}

.pd-about{
  font-size: 14px;
  width: 100%;
}
.pd-logo{
  height: 45px;
}
.pd-p3{
  flex-direction: column;
}
.pd-p3 div ul {
  grid-template-columns: repeat(1, 1fr);
}
.pd-p3 div ul li{
  font-size: 12px;
}
.pd-p3 div ul li:nth-child(odd) {
  transform: translate(-20px , 0);
}
.pd-p3 div ul li:nth-child(even) {
  transform: translate(20px , 0);
}

.pd-carousel{
  .carousel-button{
    display: none;
  }
  .carousel-image{
    height: 230px;
  }
}
.pd-enquiry {
  width: 100%;
  h1{
    font-size: 18px;
  }
  input, button {
      width: 100%;
      margin-bottom: 3rem !important;
  }
  form{
    width: 50%;
  }
}
}

